In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [34]:
df_trafic = pd.read_csv("../CSVs/Open_Data_Website_Traffic.csv")
df_trafic.head()

,Date,Socrata Users,Socrata Sessions,Socrata Bounce Rate,Geohub Users,Geohub Sessions,Geohub Bounce Rate,Combined Users
0,08/07/2017,386,439,13.44,193.0,214.0,30.37,579.0
1,04/21/2017,354,422,16.11,115.0,133.0,39.85,469.0
2,02/26/2018,634,706,21.10,321.0,353.0,28.90,955.0
3,06/26/2016,136,148,0.00,44.0,54.0,51.85,180.0
4,06/28/2017,367,417,18.70,232.0,253.0,36.36,599.0

In [116]:
df_trafic['date_column'] = df_trafic.Date.astype("string")
df_trafic['year'] = df_trafic['date_column'].str[-4:]
df_trafic.year.fillna("0",  inplace=True)
df_trafic.drop(['date_column'], axis=1, inplace=True)
df_trafic.fillna(0, inplace=True)
df_trafic.tail()

,Date,Socrata Users,Socrata Sessions,Socrata Bounce Rate,Geohub Users,Geohub Sessions,Geohub Bounce Rate,Combined Users,year
1558,12/08/2014,186,216,42.59,0.0,0.0,0.00,0.0,2014
1559,09/10/2014,191,216,47.69,0.0,0.0,0.00,0.0,2014
1560,01/10/2015,59,71,74.65,0.0,0.0,0.00,0.0,2015
1561,01/04/2015,53,61,40.98,0.0,0.0,0.00,0.0,2015
1562,10/30/2014,177,216,44.44,0.0,0.0,0.00,0.0,2014
1563,09/05/2014,158,188,38.83,0.0,0.0,0.00,0.0,2014
1564,03/23/2016,366,426,3.05,112.0,135.0,48.15,478.0,2016
1565,09/13/2015,121,133,9.77,0.0,0.0,0.00,0.0,2015
1566,03/21/2015,77,85,3.53,0.0,0.0,0.00,0.0,2015
1567,06/20/2018,617,680,28.24,293.0,320.0,25.31,910.0,2018
1568,06/21/2018,552,603,31.01,256.0,276.0,25.00,808.0,2018
1569,06/22/2018,466,517,32.69,205.0,234.0,26.50,671.0,2018
1570,06/23/2018,182,209,34.93,87.0,103.0,24.27,269.0,2018
1571,06/24/2018,215,231,38.96,125.0,133.0,16.54,340.0,2018
1572,06/25/2018,670,772,30.96,271.0,306.0,23.86,941.0,2018

In [119]:
df_trafic_mean_by_year= pd.DataFrame()
# df_trafic_mean_by_year['Socrata Users'] = df_trafic.groupby('year')['Socrata Users'].mean()
# df_trafic_mean_by_year['Socrata Sessionss'] = df_trafic.groupby('year')['Socrata Sessions'].mean()
# df_trafic_mean_by_year['Socrata Bounce Rate'] = df_trafic.groupby('year')['Socrata Bounce Rate'].mean()
# df_trafic_mean_by_year['Geohub Users'] = df_trafic.groupby('year')['Geohub Users'].mean()
# df_trafic_mean_by_year['Geohub Sessions'] = df_trafic.groupby('year')['Geohub Sessions'].mean()
# df_trafic_mean_by_year['Geohub Bounce Rate'] = df_trafic.groupby('year')['Geohub Bounce Rate'].mean()
# df_trafic_mean_by_year['Combined Users'] = df_trafic.groupby('year')['Combined Users'].mean()

def make_mean(col, group):
    df_trafic_mean_by_year[col] = df_trafic.groupby(group')[col].mean()

In [120]:
# plt.figure(figsize=(14,6))
# sns.lineplot(data=df_trafic_mean_by_year)
cols = df_trafic.iloc[:, 1:-1].columns
for c in cols:
    make_mean(c)
    
df_trafic_mean_by_year.head()

,Socrata Users,Socrata Sessions,Socrata Bounce Rate,Geohub Users,Geohub Sessions,Geohub Bounce Rate,Combined Users
year,,,,,,,
2014,191.448430,233.946188,46.696278,0.000000,0.000000,0.000000,0.000000
2015,267.013699,309.884932,14.708411,0.000000,0.000000,0.000000,0.000000
2016,275.609290,313.106557,1.960410,110.120219,132.486339,40.849208,363.729508
2017,306.369863,351.356164,14.305014,151.704110,174.561644,36.380082,458.073973
2018,476.909449,542.244094,26.950315,243.224409,272.972441,27.468543,720.133858